
.chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
}

.chatDetails {
    flex: 1;
}

.chatDetails > p {
    color: gray;
}

.chatTimestamp {
    color: lightgray;
}

.chatImage {
    margin-right: 20px;
}

