.centered {
    max-width: 25%;
}


.backgroundColor {
    background-color: azure;
}

.background {
    background-image: url("../assets/Podcast-audience.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-content: center;
}

.font-link {
    font-family: 'Raleway', bold;
}

.stroke {
    font-size: 3em;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}