.card {
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 20vw;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.card > h2 {
    position: absolute;
    bottom: 10px;
    color: white;
}

.podpalCards-Container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.swipe {
    position: absolute;
}