.cardHeader {
    background-color: #0166AB;
}

.text-absolute {
    padding-left: 5px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 200px;
    height: 100px;
}

.cardBody {
    height: 45vw;
}

/*.img-relative {
    width: 100px;
    height: 200px;
    background-size: cover;
}

.img-relative::before {
    content: " ";
    width: 500px;
    height: 500px;
    background-image: linear-gradient(to bottom, transparent, black);
    position: relative;
}*/

.bg-image {
    width: 200px;
    height: 250px;
    background-size: cover;
    background-image: linear-gradient(to bottom, transparent, black) !important;
}

.bg-image::before {
    content: " ";
    width: 200px;
    height: 250px;
    background-image: linear-gradient(to bottom, transparent, black) !important;
    position: absolute;
}

